body {
    /* background-image:url(img/bg2.jpg); */
    background-color: darkgray;
    background-repeat: no-repeat;
    background-size: cover;
}

.row {
    display: flex;
    align-items: flex-start;
}

.col {
    border: 1px solid white;
    padding: 10px;
    margin: 10px;
    flex: 1;
    height: 150px;
}

.col.sm {
    flex: 1;    
}

.col.lg {
    flex: 2;
}

textarea {
    font-size: 10px;
    width: 100%;
    height: 100%;
}